.section-2 {
    display: flex;
    gap: 24px;
    padding-top: 54px;
    padding-bottom: 54px;
    @media (max-width: $tablet) {
        flex-direction: column-reverse;
        gap: 80px;
    }
    @media (max-width: $mobile) {
        gap: 54px;
    }
}

.section-half {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section2-square {
    width: 100%;
    max-width: 450px;
    height: auto;
    aspect-ratio: 1 / 1;
    background-color: $gray-light;
    border-radius: 30px;
    position: absolute;
    z-index: 1;
}

.figure-mobile {
    max-width: 300px;
    z-index: 10;
    filter: $shadow-png;
    @media (max-width: $mobile) {
        width: 200px;
    }
}