.section-bullets {
    padding-top: 56px;
    padding-bottom: 92px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 56px;
    position: relative;
}

.bullet-title{
    max-width: 540px;

}

.bullets-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @media (max-width: $tablet) {
        grid-template-columns: repeat(2, 2fr);
    }
    @media (max-width: $mobile) {
        grid-template-columns: repeat(1, 4fr);
    }
}

.bullet-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    p {
        line-height: 150%;
    }
    @media (max-width: $tablet) {
        max-width: 250px;
    }
    @media (max-width: $mobile) {

    }
}

.bullet-img {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    // margin-left: auto;
    // margin-right: auto;
}

.adorment {
    display: flex;
    position: absolute;
    top: auto;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 16px;
}

.adorment-red {
    background-color: $shark-red;
    width: 40%;
}

.adorment-color {
    height: 16px;
    display: flex;
    align-items: center;
}

.adorment-transparent {
    width: 100%;
}